{% extends 'layout.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<!-- Main Content -->
    {% for article in article %}
      <div class="post-preview">
        <a href="{{ path('article', {id: article.id}) }}">
          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.content }}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on {{ article.publishedAt|date('d m Y') }}</p>
      </div>
      <hr>
    {% endfor %}
    <!-- Pager -->
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>

  <hr>
{% endblock %}